%table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700", :style => "background:black"}
  %tbody
    %tr
      %td
        %p{:align => "right"}
          = image_tag("sccs_new1.jpg", :height => "75", :src => "sccs", :width => "75") 
      %td{:background => "sccs_new1.gif", :height => "61", :width => "87%"}
        %div{:align => "center" ,:style => "margin-right:56px"}
          %font{:color => "#ffffff", :face => "Verdana", :size => "2"}
            STEP UP Test Series
            %br/          
            Series - II Examination Result, December 2011
    %tr
      %td
        %strong          
          &nbsp;
          &nbsp;
      %td{:height => "35", :width => "87%"}
        %p{:align => "left", :style =>"margin-left:125px;color:#FFD700"}
          %strong
            Powered By
            %br/
            Standing Coin Consultancy Services

%br/


