%table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700", :style => "background:black"}
  %tbody
    %tr
      %td{:background => "../images/back2.jpg", :height => "61", :width => "13%"}
        %p{:align => "right"}
          = image_tag("sccs_new1.jpg", :height => "75", :src => "sccs", :width => "75") 
      %td{:background => "sccs_new1.gif", :height => "61", :width => "87%"}
        %div{:align => "center" ,:style => "margin-right:45px"}
          %font{:color => "#ffffff", :face => "Verdana", :size => "2"}
            STEP UP Test Series
            %br/          
            Series - I Examination Result, December 2011
    %tr
      %td{:height => "35", :width => "13%"}
        %strong
          %a{:href => "http://results.nic.in/", :target => "_blank"}
            %img{:align => "left", :border => "0", :height => "30", :src => "../images/icon01.gif", :width => "103"}/
      %td{:height => "35", :width => "87%"}
        %p{:align => "left", :style =>"margin-left:125px;color:#FFD700"}
          %strong
            Powered By
            %br/
            Standing Coin Consultancy Services

%br/


