%div{:align => "center"}
  %b Standing Coin Consultancy Services
  %br
    %b presents
    %br
      %b STEP UP Test Series
      %br
        %br
          %br
            %b
              Step Up Test Series Team
              %br/
            %i
              %b Project Manager
              \- Mr. Nicky Sidhwani : 9960889988
            %br
              %i
                %b Associate Project Manager
                \- Mr. Ravi Menghani  : 9820448878
              %br
                %i
                  %b Management Trainee
                  \- Mr. Manish Menghani: 7507990919
                %br
                  %i
                    %b Management Trainee
                    \- Mr. Vishal Panjabi : 9320455676
                  %br
                    %i
                      %b Management Trainee
                      \- Mr. Roshan Motwani : 9321209388
                    %br

= link_to 'Result', result_results_path
