%div{:align => "center", :style=>"margin-left:opx;"}
  %span
    %a.bodytext{:href => "Exam.html"}
      = link_to "Results", result_results_path, :class => "button"
  %span.bodytext
    %font{:color => "#000000", :face => "Verdana", :style => "font-size: 8.5pt"}
      %span{:style => "text-decoration: none"}
        %img{:border => "0", :height => "14", :src => "http://www.mu.ac.in/new.gif", :width => "37"}/
  
  %span
    &nbsp;
    &nbsp;
    %a.bodytext{:href => "Exam.html"}
      = link_to_function "Admission Online", "admission_message()", :class => "button"
  %span.bodytext
    %font{:color => "#000000", :face => "Verdana", :style => "font-size: 8.5pt"}
      %span{:style => "text-decoration: none"}
        %img{:border => "0", :height => "14", :src => "http://www.mu.ac.in/new.gif", :width => "37"}/
%br
%div{:align => "center", :style=>"margin-right:40px;"}
  %span{:style => "display:none", :id => "adv_message"}
    = "Better Way To Join, Coming Soon."
