%table{:align => "center", :border => "0", :width => "634"}
  %tbody
    %tr
      %td{:colspan => "2", :height => "168"}
        %table{:align => "center", :cellpadding => "3", :cellspacing => "3", :height => "128", :width => "523"}
          %tbody
            %tr
              %td.style3{:bgcolor => "#0099FF", :width => "255"}
                %span.usertext4 
                  %center 
                    Enter the Seat Number to get Your Result
            %tr
              %td{:height => "108", :width => "255"}
                %table{:align => "center", :cellspacing => "0", :width => "393"}
                  %tbody
                    %tr
                      %td{:width => "440", :style => "color:#0099FF"}
                        %span.usertext Please Check Your Seat No. before Submitting
                        = form_tag(get_result_results_path,  {:method => :get}) do                          
                          %center
                            %br
                            %span.TAB> Enter Seat Number
                            \ 
                            = text_field_tag 'seat_no', nil, :maxlength => 7, :size => 7
                            %br
                            %br
                            = submit_tag 'Submit'


//%marquee{:behavior => "scroll", :direction => "up", :scrollamount => 3} 
//  %p{:style => "color:#0099FF"} 
//    In Association with :
//    %br
//    Sindhu Vidya Niketan High School
//  %br
//  %p{:style => "color:#0099FF", :size => 10} 
//    Special Thanks to :
//    %br
//  %p{:style => "color:#0099FF"} 
//    Malika Tutorials
//    %br
//    Shraddha Ma'am
//    %br
//    Ravi's Group Tuitions
//    %br
//    Kishore Sir
//    %br
//    Divya Ma'am
//    %br
//    And all the students who participated


