/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.button {
    background: -moz-linear-gradient(center top , #65A9D7, #3E779D) repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    border-top: 1px solid #96D1F8;
    box-shadow: 0 1px 0 black;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    vertical-align: middle;
}
